body {
    text-align: center;
    background: linear-gradient(#57acf2, grey, green);
    margin: 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 90px;
}
h1 {
  text-shadow: 2px 2px grey;
  font-size: 200%;
}
.state {
    text-align: left;
    width: 480px;
    }

.state .lives {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 25%
    }

.state .lives li {
    list-style: none;
    display: inline-block;
    color: red;
    text-shadow: 2px 2px black;
    font-size: 150%;
}

.state #score {
  font-size: 150%;
  }
.state .restart {
    float: right;
    cursor: pointer;
    font-size: 130%;
    color: red;
    text-shadow: 2px 2px black;
}
.state .lives .hide {
  display: none;
}
#modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: green;
  opacity: 0.9;
}
.popup {
  position: relative;
  background-color: #40b8e8;
  border-radius: 2px;
  border: 2px solid #42049e;
  margin: auto;
  margin-top: 100px;
  width: 50%;
  height: 30%;
  text-align: center;
}

button {
  cursor: pointer;
  border-radius: 5px;
  background-color: #42f445;
  color: black;
  font-style: oblique;
  font-size: 100%;
  font-family: 'Permanent Marker', cursive;
}

.popup .hide {
  display: none
}
